<header class="site-header{% if include.avatar %} header-nav{% endif %}">
    {% unless include.avatar %}<div class="wrapper"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>{% endunless %}
    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title and page.navigation %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>{% if include.avatar %}
    <div class="wrapper">
        <div class="author">
          <img src="../assets/img/avatar.png" width="100" height="100" />
          <a href="{{ site.baseurl | append: '/' }}">
            <h1 class="name">{{ "The Tidal Blog" }}</h1>
          </a>
          <h2 class="description">{{site.description}}</h2>
        </div>
    </div>{% endif %}
  {% unless include.avatar %}</div>{% endunless %}
</header>
